@tailwind base;
@tailwind components;
@tailwind utilities;

.glass {
  backdrop-filter: blur(12px);
  background: rgba(255, 255, 255, 0.05);
}

.glass-light {
  backdrop-filter: blur(6px);
  background: rgba(255, 255, 255, 0.03);
}

.btn-primary {
  background: linear-gradient(to right, #185fa5, #0f6e56);
  color: white;
  border-radius: 8px;
}

.btn-outline {
  border: 1px solid rgba(255,255,255,0.2);
}

.orb {
  position: absolute;
  border-radius: 9999px;
  filter: blur(100px);
}

body{
  background-color:#fff;
}